.nav ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.nav ul li { display: inline; }

.nav ul li 
{
text-decoration: none;
padding: .2em 1em;
}

.control-panel
{   top : 0px;
    left : 0px;
    z-index : 1000;
    height : 20px;
    position : relative;
    width: auto;
    overflow : hidden;
    border: 1px black solid;
    display: inline-block;
    color : white;
    background : #aaa;
    cursor : pointer;
    box-shadow: 4px 4px 2px #888;
}
.control-panel
{
    color : white;
}
.control-panel ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.control-panel ul li 
{
    display: inline; 
    text-decoration: none;
    padding: 5px 5px;
}



.arrow-up {
        width: 0;
        height: 0;
	border-color: red green blue orange;
	border-style: solid;
	border-width: 10px;
	display: inline;
}

.arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid black;
}

.arrow-right {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid black;
}

.arrow-left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid black;
}