@import "../vendor/bootstrap/less/bootstrap.less";
@import "blog.less";
.slogan{
    color : white;
}
.splashmiddle{
  padding-top : 30px;
  background-color: @dark;
  background-image: -moz-linear-gradient(top, @splashmiddlestart, @splashmiddleend);
  background-image: -ms-linear-gradient(top, @splashmiddlestart, @splashmiddleend);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@splashmiddlestart), to(@splashmiddleend));
  background-image: -webkit-linear-gradient(top, @splashmiddlestart, @splashmiddleend);
  background-image: -o-linear-gradient(top, @splashmiddlestart, @splashmiddleend);
  background-image: linear-gradient(top, @splashmiddlestart, @splashmiddleend);
}
.titlerow{
  background-color: @dark;
  background-image: -moz-linear-gradient(top, @navbarstart, @navbarend);
  background-image: -ms-linear-gradient(top, @navbarstart, @navbarend);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@navbarstart), to(@navbarend));
  background-image: -webkit-linear-gradient(top, @navbarstart, @navbarend);
  background-image: -o-linear-gradient(top, @navbarstart, @navbarend);
  background-image: linear-gradient(top, @navbarstart, @navbarend);
  margin : 0px;
}
.navbar {
  margin : 0px;
}

.navbar .nav > li > a:hover {
  text-decoration: none;
  background-color: @ultralight;
  color : @dark;
}
    
.navbar .nav > li > a {
  text-decoration: none;
  color: white;
  font-family : Open Sans Condensed;
  font-size : 125%;

}

@background : #fff;
@ultralight : #CDE8FF;
@light : #64B5FF;
@mid : #1671D4;
@dark : #485451;
@ultradark : #1E2322;
@navbarstart : @ultradark;
@navbarend : @dark;
@splashmiddlestart : @mid;
@splashmiddleend : @light;

mainblog,
body {
  background-color : @background;
  background-image:url('bg.png');  
}
.myactive{
  background-color : @dark;
}
.logo{
  fill : @light;
}
.bgrect {
  fill : none;
}
.splitter {
  fill : #ccc;
  overflow : hidden;
}

.mynav {
}


footer{
  background-color : @dark;
  color : white;
  padding : 10px;
  background-image: -moz-linear-gradient(top, @navbarstart, @navbarend);
  background-image: -ms-linear-gradient(top, @navbarstart, @navbarend);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@navbarstart), to(@navbarend));
  background-image: -webkit-linear-gradient(top, @navbarstart, @navbarend);
  background-image: -o-linear-gradient(top, @navbarstart, @navbarend);
  background-image: linear-gradient(top, @navbarstart, @navbarend);
}
footer  a {
  color: @light;
}
footer  a:hover {
  color: @ultralight;
}


.header{
  margin: 0;
  border-radius : 15px;
}

.logofg{
  fill : white;
}

.logobg{
  fill : @mid;
}

.bigstart{
  font-family : Open Sans Condensed;
  font-size : 400%;
}
.bigend{
  font-family : Open Sans Condensed;
  font-size : 150%;
}
.heading{
  font-family : Open Sans Condensed;
}
textarea,
div,
ul, 
li{
  font-family : Open Sans;
}
.mainsep{
  margin: 20px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid white;
}

.wrap{
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

html,body{
  height : 100%;
}
textarea{
    line-height : 18px;
    border: 0;
    padding: 0;
    outline: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font: inherit;
    border-radius: 0;
    width: 100%;
    color: #111;
    margin: 0;
    display: inline;
    margin-bottom: 0;
    height: 0;
    min-height: 18px;
    vertical-align: text-top;
    overflow: hidden;
    resize: none;
    clear: none;
    background: inherit;
}

textarea:focus{
    line-height : 18px; 
    border: 0;
    padding: 0;
    outline: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font: inherit;
    border-radius: 0;
    color: #111;
    margin: 0;
    display: inline;
    margin-bottom: 0;
    height: 0;
    min-height: 18px;
    vertical-align: text-top;
    overflow: hidden;
    resize: none;
    clear: none;
    background: inherit;
    width: 100%;
}


.outline-textdisplay{
    white-space: pre-wrap;
    border: 0;
    padding: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font: inherit;
    border-radius: 0;
    color: #111;
    margin: 0;
    display: block;
    margin-bottom: 0;
    min-height: 20px;
    vertical-align: text-top;
    overflow: hidden;
    resize: none;
    clear: none;
    background: inherit;
}


.hide{
    display : None;
}
    
.shade{
    background: @ultralight;
}

.importtext{
    height : 300px;
    width : 90%;
    border : 1px solid #000;
}
.importtext:focus{
    height : 300px;
    width : 90%;
    border : 1px solid #000;
}

.sharetext{
    height : 40px;
    width : 90%;
    border : 1px solid #aaa;
    overflow-y : auto;
}
.sharetext:focus{
    height : 40px;
    width : 90%;
    border : 1px solid #aaa;
    overflow-y : auto;
}
.inlineupgrade{
    margin-top : 7px !important;
    
}
.inlineupgrade > a{
    color: white;
}

.instructionscreenshot{
    width : 200px;
    margin-right : 20px;
    border : 1px solid #aaa;
}
.moveimage{
    width : 250px;
    border : 1px solid #aaa;
}
.searchimage{
    width : 400px;
    margin-top : 20px;
    border : 1px solid #aaa;
}
.taskbarimage{
    width : 250px;
    margin-right : 20px;
    border : 1px solid #aaa;
}

.quote{
    font-size:20px;
}

.screenshot{
    position : relative;
    font-size : bigger;
}
.demo{
    position : absolute;
    top : 80px;
    left : 250px;
}

figcaption{
    display : none;
}