<div class="row-fluid">
  <div class="span8 offset2">
    <center>
    <h2 class="heading">Efficiently is easy to use</h2>
    </center>
    Efficiently is a shareable outline that keeps track of everything you need to do or organize. Efficiently documents can be shared with others, regardless of whether or not they have an efficiently account.
    </div>
</div>
<br/>
<div class="row-fluid">
  <div class="span8 offset2">
    <img class="instructionscreenshot" align="left" src="/static/images/effbasic.png"/>

    <h3 class="heading">Just Start Typing!</h3>  Hit Enter to create new entries.  Hit Shift + Enter to add more sub-entries.  Efficiently automatically saves your work, so you just have to type.
  </div>
</div>
<div class="row-fluid">
    <div class="span8 offset2">
    <img class="moveimage" align="right" src="/static/images/effmove.png"/>
    <h3 class="heading">Arrow keys navigate and move things around </h3> Use up and down arrow keys to move up and down. Use shift and arrow keys to swap items, as well as change the indentation
    </div>
</div>
<div class="row-fluid">
    <div class="span8 offset2">
      <h3 class="heading">Search Search Search! </h3> Search through your list to figure out
      what you need to do to get the job done.
      <ul>
        <li>
          You can search by todo status or any hashtags you embed
        </li>
        <li>
          You can search by any text in the outline itself
        </li>
        <li>
          You can combine searches terms with and, or, and not, and group
          terms together by parentheses
        </li>
      </ul>
      <center>
      <img class="searchimage" src="/static/images/effsearch.png"/>
      </center>
    </div>
</div>
<br/>
<div class="row-fluid">
    <div class="span8 offset2">
      <h3 class="heading">Sharing</h3>
      <img class="taskbarimage" align="left" src="/static/images/efftaskbar.png"/>
      Click the sharing button in the toolbar.  A dialog will pop up where you can decide who you wish to share your outline with.  You can enter multiple values separated by commas.  The name "all" means that your outline will be public and anyone can view it.  You can give people access to read, as well as access to edit your outline.  Since you can specify people with email addresses, they don't need to have efficiently ahead of time.  If you make a link public, you can share it with anyone just by giving them the URL.  They won't even need to sign up to view your outline.
      <img class="taskbarimage" align="right" src="/static/images/sharemodal.png"/>
    </div>
</div>

<br/>
<div class="row-fluid">
  <div class="span8 offset2">
    <center>
    <h2 class="heading">Features</h2>
    </center>
    <ul>
      <li>
        Fast and easy keyboard navigation
      </li>
      <li>
        Sharing by email, or by link for public outlines
      </li>
      <li>
        Filtering of items by searching for tags, text, or status
      </li>
      <li>
        Complex filtering terms supported - (#urgent and not DONE) or INPROGRESS
      </li>
      <li>
        Hierarchical tags - nodes inherit the tags of their parents
      </li>
      <li>
        Text import/export
      </li>
    </ul>
  </div>
</div>
