<div class="row-fluid">
  <div class="span6">
    <h3 class="heading"><img src="/static/images/question.png"/> What Is Efficiently?</h3>
    Efficiently is a shareable outline that keeps track of everything you need to do or organize.
    Efficiently's key principle is fast and easy user interaction.  Everything can be accomplished with fast and simple keyboard navigation .  Efficiently documents can be shared with others, regardless of whether or not they have an efficiently account.
    <h3 class="heading"><img src="/static/images/heart.png"/> Why do people love Efficiently?</h3>
    Efficiently improves your productivity by helping your access all of your organizational information in one place.  With Efficiently, you can breakdown large tasks into smaller ones effortlessly.  
  </div>
  <div class="span6">
    <h3 class="heading"><img src="/static/images/dollar.png"/> How much does it cost?</h3>
    Currently all of Efficiently is free!
    Soon, we will be offering basic, and premium plans.  
    <h5> Free Account </h5>
    You can create up to 3 documents
    <h5> Basic Account </h5>
    $5 a month, or $20 a year, You can create unlimited documents
  </div>
</div>
