{% extends "base.html" %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="offset1 span5">
      <h2> Login </h2>
    <p>Don't have an account?  <a href="/register">register here</a></p>
      <form action="/login" method="POST">
	<!-- Label and text input -->
	<label for="username">username</label>
	<input type="text" id="username" name="username" />
	<label for="password">password</label>
	<input type="password" id="password" name="password"/>
	<br>
	<input type="submit"></input>
      </form>
    </div>
    <div class="span5">
      The goal of yata is to bring the power of emacs Org mode in a modern way.
      <br>
      <br>

      <ul class="square">
	<li>
	  You can share documents you create with a other yata users, or with the entire world, even people who don't have yata accounts
	</li>
	<li>
	  You can email items which will be automatically added to your outline
	</li>
	<li>
	  If multiple people are editing a yata document, changes will instantly appear on everyones copy of the document.  This is useful for working collaboratively.
	</li>
	<li>
	  simple keyboard interface allows you to search your document, compact parts of it, and mark items TODO, INPROGRESS, or DONE.
	</li>
      </ul>
    </div>
  </div>
</div>

{% end %}
