{% extends "base.html" %}
{% block other_scripts%}
{% end %}
{% block main %}
<div class="ten columns clearfix alpha">
  When specifying users, entering 'all' will allow all users to edit or view your document
  <ul class="square">
    <li><h5>New Document</h5>
      <form action="/create"
	    class="manageform" method="post">
	<label for="create">
	  Title
	</label>
	<input type="text" id="create" name="title"/>
	<br>
	<input type='submit'/>
      </form>
    </li>
    {% for doc in documents %}
    <li>
      <form action="/manage/{{doc['id']}}" 
	    class="manageform" method="post">
	<h5>{{doc['title']}}</h5>
	<input id="delete-{{doc['id']}}" type="checkbox" name="delete">
	Delete this document (warning! cannot be undone!)
	</input>
	<br>
	<br>
	<label for="rw-{{doc['id']}}">
	  users who can edit this document - enter their usernames separated by commas:
	</label>
	<input type="text" 
	       id="rw-{{doc['id']}}" name="rwuser"
	       value="{{','.join(doc['rwuser'])}}"/>
	<label for="r-{{doc['id']}}">users who can view, but cannot edit this document - enter their usernames separated by commas:
	</label>
	<input type="text" 
	       id="r-{{doc['id']}}" name="ruser"
	       value="{{','.join(doc['ruser'])}}"/>
	{% if len(doc['rwuser']) > 0 or len(doc['ruser']) > 0 %}
	<label for="rwlink-{{doc['id']}}">
	  this link will allow others to edit this document
	</label>
	<a class="managelinks" 
	   id="rwlink-{{doc['id']}}" href="/docview/rw/{{doc['id']}}">
	  {{root_url}}/docview/rw/{{doc['id']}}
	</a><br>
	<label for="rlink-{{doc['id']}}">
	  this link will allow others to view but not edit this document<br>
	</label>
	<a class="managelinks" 
	   id="rlink-{{doc['id']}}" href="/docview/r/{{doc['id']}}">
	  {{root_url}}/docview/r/{{doc['id']}}
	</a>
	<br>
	{% end %}
	<input type='submit'/>
      </form>
    </li>
    {% end %}
  </ul>
</div>
<div class="six columns clearfix omega">
</div>
</ul>
</div>
{% end %}
