{% extends "base.html" %}
{% block main %}
<p>Already have an account?  <a href="/login">login here</a></p>
<div>
  <form action="/register" method="POST">
    <!-- Label and text input -->
    <label for="username">username</label>
    <input type="text" id="username" name="username" />
    <label for="password">password</label>
    <input type="password" id="password" name="password"/>
    <label for="email">email</label>
    <input type="text" id="email" name="email"/>
    <input type="submit"></input>
  </form>
</div>
{% end %}
