{% extends "base.html" %}
{% block main %}
<div class="splashmiddle">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="slogan span6" style="text-align:center">
	    <h1 class="bigstart">Stop Wasting Time</h1>
	    <h1 class="bigend">Everything you need to manage your life in one place
	    </h1>
        <img class="center" style="width:400px" src="/static/images/efficiently.png"/>
      </div>
      <div class="span4">
        <form class="form well"action="/register" method="POST">
          <h3>Register for Free!</h3>
	      <!-- Label and text input -->
	      <label>username</label>
	      <input type="text" id="username" name="username" />
	      <label for="password">password</label>
	      <input type="password" id="password" name="password"/>
	      <label for="email">email</label>
	      <input type="text" id="email" name="email"/>
	      <br>
	      <input class="btn btn-primary" type="submit" value="Submit"/>
	    </form>    
      </div>
    </div>
  </div>    
</div>
<hr class="mainsep"/>
<div class="container-fluid">
{% include "efficientlydescr.html" %}
</div>
<hr class="mainsep"/>
{% endblock %}
