{% extends "base.html" %}
{% block main %}
<div class="splashmiddle">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6" style="text-align:center">
	<h1 class="bigstart">Stop Wasting Time</h1>
	<br/>
	<h1 class="bigend">Everything you need to manage your life in one place
	</h1>      
      </div>
      <div class="span6">
	<div class="center">
	  <img class="center" style="width:100%" src="/static/images/efficiently.png"/>
	</div>
      </div>
    </div>
  </div>    
</div>
<hr class="mainsep"/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <h3 class="heading"><img src="/static/images/question.png"/> What Is Efficiently?</h3>
      Efficiently is a shareable outline that keeps track of everything you need to do or organize.
      Efficiently's key principle is fast and easy user interaction.  Everything can be accomplished with fast keyboard shortcuts, or a single mouse click.  Efficiently documents can be shared with others, regardless of whether or not they have an efficiently account.
      
    </div>
    <div class="span4">
      <h3 class="heading"><img src="/static/images/heart.png"/> Why do people love Efficiently?</h3>
      Efficiently improves your productivity by helping your access all of your organizational information in one place.  With Efficiently, you can breakdown large tasks into smaller ones effortlessly.  Efficiently keeps puts tasks on your  google calendar  with your workload, so you always know when you have to finish things.  You can attach links, and files to efficiently so you never have to go anywhere else to find information about your work.
    </div>
    <div class="span4">
      <h3 class="heading"><img src="/static/images/dollar.png"/> How much does it cost?</h3>
      Basic Efficiently is free and ad supported! 
      Premium Efficiently costs 20$ for a one year membership which includes
      <ul>
	<li> An eff.iciently.com email address which allows you, or others add items ot your list by sending a simple email
	</li>
	<li> An ad-free browsing experience
	</li>
	<li> Up to 10 Gigabyes of file attachments
	</li>
	<li> Features for group collaboration including email notifications for assigned tasks
	</li>
      </ul>
    </div>
  </div>
</div>
<hr class="mainsep"/>
{% end %}
