{% extends "base.j2" %}

{% block main -%}
<article class="post">
{% include "social.j2" %}
<time class="heading" datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    {{ resource.meta.created.strftime('%a, %d %b %Y') }}
</time>
<br>
<br>    
{% if resource.meta.tags %}
{% endif %}
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
{% include "social.j2" %}
</article>

{%- endblock %}