<a href="/" style="text-decoration:none">
  <svg class="logo" height="65" width="300">
    <g transform="scale(0.5, 0.5)">
      <svg height="130" width="600">
        <rect height="130" width="600" rx="10" ry="10" class="bgrect"/>
        <g transform='translate(0,90)'>
	      <text font-family="Lobster Two" font-weight="normal" font-size="110" y="5" x="20">
	        Efficiently
	      </text>
        </g>
        <g transform='translate(400,10)'>
	      <g transform="translate(20, 20)">
	        <circle cx="0" cy="0" r="12"/>
	        <rect x="8" y="-4" width="300" height="9" r="12"/>
	      </g>
	      <g transform="translate(50, 52)">
	        <circle cx="0" cy="0" r="12"/>
	        <rect x="8" y="-4" width="300" height="9" r="12"/>
	      </g>
	      <g transform="translate(50, 85)">
	        <circle cx="0" cy="0" r="12"/>
	        <rect x="8" y="-4" width="300" height="9" r="12"/>
	      </g>
        </g>
      </svg>
    </g>
  </svg>
</a>
